### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Dreamweaver template
# DW Dreamweaver added files
_notes
_compareTemp
configs/
dwsync.xml
dw_php_codehinting.config
*.mno
### Dropbox template
# Dropbox settings and caches
.dropbox
.dropbox.attr
.dropbox.cache

# Created by .ignore support plugin (hsz.mobi)
